<div class="container">
  <div class="row">
    <div class="col-10">
      <h1>投稿内容の編集</h1>
      <% if @post.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <h6 class="alert-heading">
            <%= @post.errors.count %>件のエラーが起きました
          </h6>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @post do |f| %>
        <div class="form-group">
          <%= f.label :"商品名" %>
          <%= f.text_field :name, class: "form-control", placeholder: "商品の名前を入力してください" %>
        </div>
        <div class="form-group">
          <%= f.label :"商品説明文" %>
          <%= f.text_area :introduction, class: "form-control", placeholder: "商品の簡単な説明を入力してください" %>
        </div>
        <div class="form-group">
          <%= f.label :"市町村" %>
          <%= f.text_field :category, class: "form-control", placeholder: "〇〇市などと市町村を入力してください" %>
          <small>※　購入した市町村（〇〇市や〇〇町や〇〇村）のみ入力してください</small><br>
          <small class="font-weight-bold">例:　川越市で購入した場合「川越市」と入力</small>
        </div>
        <div class="row" style="padding: 15px;">
          <div class="form-group mr-5 border border-dark pr-3 pl-3 pt-1">
            <%= f.label :images, "商品画像" %><br>
            <%= f.file_field :images, multiple: true, id: 'images' %><br>
            <small>※画像を3枚まで選択可能です</small><br><br>
          </div>
            <div class="form-group ml-3 pr-3 pl-3 pt-4">
              <%= render 'star', post: @post %>
              <p class="mt-2">レビューの変更は出来ません</p>
            </div>
        </div>
        <div class="form-group">
          <%= f.label :genre_id, "都道府県" %><small style="color: red;">※必須入力</small><br>
          <%= f.collection_select :genre_id, Genre.all, :id, :name, prompt: "都道府県を選択", class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "住所" %><small style="color: red;">※必須入力</small>
          <%= f.text_field :address, id: :address, class: "form-control", placeholder: "住所　例：埼玉県川越市幸町　など番地無しも可能です" %>
          <div class="input-group-append">
            <button id="searchButton" type="button" class="btn btn-primary">検索</button>
          </div>
        </div>
        <%= f.label :latitude, "緯度" %>
        <%= f.text_field :latitude, id: :latitude, placeholder: "緯度" %>
        <%= f.label :longitude, "経度" %>
        <%= f.text_field :longitude, id: :longitude, placeholder: "経度" %>

        <div class="form-group mt-3">
          <%= f.submit '投稿', class: "btn btn-success" %>
        </div>
      <% end %>
        <p>マーカーをドラッグ＆ドロップで位置の調整してください</p>
        <p>マップがうまく表示されない場合はページを更新してください</p>
        <div id='map' class="border border-dark"></div>

        <%= javascript_pack_tag 'map', 'data-turbolinks-track': 'reload' %>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_key'] %>&callback=initMap" async defer></script>
    </div>
  </div>
</div>