<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="row justify-content-center">
        <% if @post.images.attached? %>
          <% @post.images.each do |image| %>
            <div class="mb-5 ">
              <div class="card ml-3 mr-3 text-center">
                <%= image_tag image, style: 'cursor: pointer;', onclick: 'openModal(this)', size: "250x250" %>
                <!-- モーダルの構造 -->
                <div id="imageModal" class="modal">
                  <span class="close" onclick="closeModal()">&times;</span>
                  <img id="modalImage" class="modal-content">
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="mb-3">
            <%= image_tag 'no_image.jpg', size: "300x300" %>
          </div>
        <% end %>
        <small class="mb-3">画像をクリックすると拡大できます</small>
      </div>
        <div class="col-md-12">
          <div class="row">
            <div class="col">
              <table class="table table-bordered mb-3">
                <thead>
                  <tr class="table-active">
                    <th scope="col" style="width: 30%" class="text-center">商品名</th>
                    <th scope="col" style="width: 70%">商品説明</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><%= @post.name %></td>
                    <td style="width: 70%; word-wrap: break-word; white-space: normal;"><%= @post.introduction %></td>
                  </tr>
                </tbody>
              </table>
              <table class="table table-bordered">
                <thead>
                  <tr class="table-active">
                    <th scope="col" style="width: 20%" class="text-center">都道府県</th>
                    <th scope="col" style="width: 30%" class="text-center">市町村</th>
                    <th scope="col" style="width: 20%" class="text-center">レビュー</th>
                    <% if @post.user == current_user %>
                      <th scope="col" style="width: 30%" class="text-center">編集</th>
                    <% else %>
                      <th scope="col" style="width: 30%" class="text-center">ユーザー</th>
                    <% end %>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center"><%= link_to genre_path(@post.genre.id) do %><%= @post.genre.name %><% end %></td>
                    <td class="text-center"><%= link_to @post.category, tagsearches_search_path(content: @post.category) %></td>
                    <td class="text-center"><%= render 'star', post: @post %></td>
                    <% if @post.user == current_user %>
                      <td scope="col" style="width: 15%" class="text-center"><%= link_to "編集", edit_post_path(@post), class: "btn btn-success mr-2" %><%= link_to "削除", post_path(@post), class: "btn btn-danger ml-2", method: :delete, "data-confirm" => "本当に消しますか？"  %></a></th>
                    <% else %>
                      <td class="text-center"><%= link_to user_path(@post.user_id) do %><%= @post.user.nick_name %><% end %></td>
                    <% end %>
                  </tr>
                </tbody>
              </table><br>
              <% if @post.user == current_user %>
                <p class="text-right"><%= link_to "マイページへ", mypage_path %></p>
              <% end %>
              <p class="text-right mb-5"><%= link_to "投稿一覧へ", posts_path %></p>
              <hr>
              <% if user_signed_in? %>
                <div class="col-11 mt-5 mb-5 form-group">
                  <%= form_with model: [@post,@post_comment] do |f| %>
                    <%= f.text_area :comment, placeholder: "コメントはここに", class: "form-control" %>
                    <%= f.submit "コメント", class: "btn btn-primary mt-3" %>
                  <% end %>
                </div>
              <% end %>
              <table class="table">
                <thead class="table-light">
                  <tr>
                    <td scope="col" style="width: 55% ">コメント</td>
                    <td scope="col" style="width: 15%">ユーザー</td>
                    <td scope="col" style="width: 10%">投稿日</td>
                    <td scope="col" style="width: 20%"></td>
                  </tr>
                </thead>
                <% @post.post_comments.order(created_at: :desc).each do |post_comment| %>
                  <tbody>
                    <tr>
                      <td style="width: 60% word-wrap: break-word; white-space: normal;"><%= post_comment.comment %></td>
                      <td><%= post_comment.user.nick_name %></td>
                      <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
                      <td>
                      <% if post_comment.user == current_user %>
                        <%= link_to "編集", edit_post_post_comment_path(@post, post_comment), class: "btn btn-success" %>
                        <%= link_to "削除", post_post_comment_path(@post, post_comment), class: "btn btn-danger", method: :delete, "data-confirm" => "本当に消しますか？" %>
                      <% end %>
                      </td>
                    </tr>
                  </tbody>
                <% end %>
              </table>
            </div>
          </div>
        </div>
    </div>
    <%= render 'public/genres/genre_lists' %>
  </div>
</div>

<%= javascript_pack_tag 'image_modal' %>