<div class="container">
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <p></p>
        <blockquote class="blockquote text-center">
        <h1>オミサーチとは？</h1>
        <br><br>
        <p>旅行先や帰省の時にお土産を買う際に<br><br>
        何を買っていこうか？近場でいいお土産ないかな？<br><br>という際に<br><br>
        ユーザーの皆さんが投稿して頂いたお土産情報を<br><br>共有するサイトになります。</p>
        </blockquote>
      </div>
    </div>
    <div class="col text-center p-4">
      <%= image_tag 'omiyage.png',:size =>'400x400' %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col text-center">
      <%= image_tag 'pose_shinpai_fukidashi_man.png',:size =>'400x400' %>
    </div>
    <div class="col">
      <div class="card">
        <blockquote class="blockquote text-center">
          <br><br>
          <h2>どういう時使うの？</h2>
          <br>
          <p>旅行先の近場でお土産を買いたい！<br><br>
          お土産買うために長い移動をしたくない！<br><br>
          自分が住んでいる地域のお土産を知りたい！<br><br>
          という際におすすめです</p>
        </blockquote>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <div class="card">
        <br>
        <blockquote class="blockquote text-center">
        <h1>早速サイトを利用しよう！</h1>
        <br><br>
        <p>みんなの投稿をみてみよう！<br><br><%= link_to '投稿一覧へ', posts_path, class: 'btn btn-info' %><br><br>
        自分のおススメを共有してみよう！<br><br>
        <% if user_signed_in? %>
          <%= link_to '新規投稿', new_post_path, class: 'btn btn-primary' %><br><br>
        <% else %>
          <%= link_to '新規登録', new_user_registration_path, class: 'btn btn-primary' %> | <%= link_to 'ログイン', new_user_session_path, class: 'btn btn-success' %><br><br>
        <% end %>
        </p>
        </blockquote>
      </div>
    </div>
    <div class="col text-center pt-5">
      <%= image_tag 'computer_man4_laugh.png',:size =>'350x350' %>
    </div>
  </div>
</div>