<div class="col-lg-2 col-md-3">
  <div class="row">
    <% if user_signed_in? %>
      <div class="col-md-12">
        <div class="sideber">
          <h3>検索</h3>
          <div class="form-group" style="">
            <%= form_with url: search_path, method: :get, local: true do |f| %>
              <%= f.label :content, "投稿・ユーザー検索" %>
              <%= f.text_field :content, class: "form-control mb-1" %>
              <%= f.select :model, options_for_select({"投稿" => "post", "ユーザー" => "user"}), {}, class: "form-control mb-1" %>
              <%= f.select :method, options_for_select({"部分一致" => "partial", "完全一致" => "perfect"}), {}, class: "form-control mb-1" %>
              <%= f.submit "検索", class: "btn btn-primary mt-1" %>
            <% end %>
          </div>
          <% if current_user.guest_user? %>
            <p class="text-center border p-3">登録して<br>もっと便利に！<br><br>地域検索<br><br>
            <%= link_to destroy_user_session_path,method: :delete do %>
              <span style="color:blue;"><i class="fa-solid fa-right-from-bracket"></i> ログアウト</span><% end %><br>してから<br>
              <u>新規登録</u><br>してください</p>
          <% else %>
            <div class="form-group">
              <%= form_with url: tagsearches_search_path, method: :get, local: true do |f| %>
                <%= f.label :content, "市町村検索" %>
                <%= f.text_field :content, class: "form-control mb-1" %>
                <%= f.submit "検索", class: "btn btn-primary mt-1" %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
    <div class="col-md-12 mb-3">
      <div class="sideber text-center border p-2">
        <p><small>会員登録すると</small><br><br>投稿検索<br>地域検索<br><br>使用可能</p>
        <p><%= link_to "ログイン", new_user_session_path %></p>
        <p><%= link_to "新規登録", new_user_registration_path %></p>
        <p><%= link_to "ゲストログイン", sessions_guest_sign_in_path, method: :post %><br><small>※一部機能利用可能</small></p>
      </div>
    </div>
    <% end %>
    <div class="col-md-12">
      <h3>都道府県</h3>
      <ul id="tab-menu" class="list-group">
        <li class="list-group-item big-tag"><a href="#tab1" class="">北海道<br><span>▼</span>東北地方</a></li>
        <div id="tab1" class="tab">
          <% Genre.all[0..6].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab2" class=""><span>▼</span> 関東地方</a></li>
        <div id="tab2" class="tab">
          <% Genre.all[7..13].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab3" class=""><span>▼</span> 中部地方</a></li>
        <div id="tab3" class="tab">
          <% Genre.all[14..22].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab4" class=""><span>▼</span> 近畿地方</a></li>
        <div id="tab4" class="tab">
          <% Genre.all[23..29].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab5" class=""><span>▼</span> 中国地方</a></li>
        <div id="tab5" class="tab">
          <% Genre.all[30..34].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab6" class=""><span>▼</span> 四国地方</a></li>
        <div id="tab6" class="tab">
          <% Genre.all[35..38].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
        <li class="list-group-item big-tag"><a href="#tab7" class=""><span>▼</span> 九州地方<br>沖縄</a></li>
        <div id="tab7" class="tab">
          <% Genre.all[39..46].each do |genre| %>
            <li class="list-group-item">
              <%= link_to "#{genre.name} (#{genre.posts.count})", genre_path(genre.id) %>
            </li>
          <% end %>
        </div>
      </ul>
      <%= javascript_pack_tag 'genre' %>
    </div>
  </div>
</div>