<div class="container mt-4">
  <div class="row">
    <div class="col-md-10">
      <h2 class="mb-5"><%= @genre.name %> の投稿一覧</h2>
      <div id='map' class="border border-dark mb-3"></div>
        <script>
          function initMap() {
            // 初期マップの設定
            let mapCenter = { lat: <%= @latitude %>, lng: <%= @longitude %> };
            let map = new google.maps.Map(document.getElementById('map'), {
              zoom: 10,
              center: mapCenter,
              styles: [
                {
                  stylers: [
                    { "saturation": 0 },
                    { "lightness": 0 }
                  ]
                }
              ]
            });

            // 各投稿のマーカーを地図に追加
            let posts = <%= raw @posts.to_json(only: [:id, :name, :latitude, :longitude, :introduction]) %>;
            posts.forEach(function(post) {
              let markerLatLng = { lat: post.latitude, lng: post.longitude };
              let marker = new google.maps.Marker({
                position: markerLatLng,
                map: map
              });

              // マーカークリック時の情報ウィンドウ
              let infoWindow = new google.maps.InfoWindow({
                content: `
                  <div>
                    <h4>${post.name}</h4>
                    <p>${post.introduction.substring(0, 50)}...</p>
                    <a href="/posts/${post.id}">詳細を見る</a>
                  </div>
                `
              });

              // マーカークリック時のイベントリスナー
              marker.addListener('click', function() {
                infoWindow.open(map, marker);
              });
            });
          }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['Maps_API_key'] %>&callback=initMap" async defer></script>
      <div class="row">
        <%= render 'public/posts/list', posts: @posts %>
      </div>
    </div>
    <%= render 'public/genres/genre_lists' %>
  </div>
</div>
