<div class="container">
  <h2><%= @post.user.nick_name %></h2>
  <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
            <%= image_tag image, size: "200x200" %>
      <% end %>
    <% else %>
        <%= image_tag 'no_image.jpg', size: "200x200" %>
    <% end %>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th scope="col" style="width: 30%">商品名</th>
        <th scope="col" style="width: 70%">商品説明</th>
      </tr>
      <tbody>
        <td><%= @post.name %></td>
        <td><%= @post.introduction %></td>
      </tbody>
    </thead>
  </table>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th scope="col" style="width: 33%">都道府県</th>
        <th scope="col" style="width: 33%">市町村</th>
        <th scope="col" style="width: 33%">投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @post.genre.name %></td>
      <td><%= @post.category %></td>
      <td><%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
    </tbody>
  </table>
  <%= link_to '削除', admins_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <table class="table">
    <thead class="table-light">
      <tr>
        <td scope="col" style="width: 50% ">コメント</td>
        <td scope="col" style="width: 15%">ユーザー</td>
        <td scope="col" style="width: 20%">投稿日</td>
        <td scope="col" style="width: 15%"></td>
      </tr>
    </thead>
    <% @post.post_comments.order(created_at: :desc).each do |post_comment| %>
      <tbody>
        <tr>
          <td style="width: 60% word-wrap: break-word; white-space: normal;"><%= post_comment.comment %></td>
          <td><%= post_comment.user.nick_name %></td>
          <td><%= post_comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= link_to "削除", admins_post_comment_path(post_comment), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>