<div class="container">
  <h2><%= link_to admins_user_path(@post.user.id) do %><%= @post.user.name %><% end %></h2>
  <div class="row justify-content-center">
    <% if @post.images.attached? %>
      <% @post.images.each do |image| %>
        <div class="mb-5 ">
          <div class="card ml-3 mr-3 text-center">
            <%= image_tag image, size: "250x250" %>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="mb-3">
        <%= image_tag 'no_image.jpg', size: "300x300" %>
      </div>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th scope="col" style="width: 30%">商品名</th>
        <th scope="col" style="width: 70%">商品説明</th>
      </tr>
      <tbody>
        <td><%= @post.name %></td>
        <td><%= @post.introduction %></td>
      </tbody>
    </thead>
  </table>
  <table class="table">
    <thead>
      <tr class="table-active">
        <th scope="col" style="width: 15%">都道府県</th>
        <th scope="col" style="width: 25%">市町村</th>
        <th scope="col" style="width: 30%">レビュー</th>
        <th scope="col" style="width: 30%">投稿日時</th>
      </tr>
    </thead>
    <tbody>
      <td><%= @post.genre.name %></td>
      <td><%= @post.category %></td>
      <td><%= render 'public/posts/star', post: @post %></td>
      <td><%= @post.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
    </tbody>
  </table>
  <%= link_to '削除', admins_post_path(@post), method: :delete, data: { confirm: '本当に削除しますか？' } %>
  <table class="table mt-5">
    <thead class="table-active">
      <tr>
        <td scope="col" style="width: 50% ">コメント</td>
        <td scope="col" style="width: 15%">ユーザー</td>
        <td scope="col" style="width: 20%">投稿日</td>
        <td scope="col" style="width: 15%"></td>
      </tr>
    </thead>
    <% @post.post_comments.order(created_at: :desc).each do |post_comment| %>
      <tbody>
        <tr>
          <td style="width: 60% word-wrap: break-word; white-space: normal;"><%= post_comment.comment %></td>
          <td><%= post_comment.user.nick_name %></td>
          <td><%= post_comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></td>
          <td><%= link_to "削除", admins_post_comment_path(post_comment), method: :delete, "data-confirm" => "本当に消しますか？" %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>