<div class="container">
  <div class="row mt-4">
    <div class="col">
      <p></p>
      <blockquote class="blockquote text-center">
      <h1>オミサーチとは？</h1>
      <br><br>
      <p>旅行先や帰省の時にお土産を買う際に<br><br>
      何を買っていこうか？近場でいいお土産ないかな？<br><br>という際に<br><br>
      ユーザーの皆さんが投稿して頂いたお土産情報を<br><br>共有するサイトになります。</p>
      </blockquote>
    </div>
    <div class="col">
      <%= image_tag 'omiyage.png',:size =>'400x400' %>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <%= image_tag 'pose_shinpai_fukidashi_man.png',:size =>'400x400' %>
    </div>
    <div class="col">
      <blockquote class="blockquote text-center">
        <br><br>
        <h2>どういう時使うの？</h2>
        <br>
        <p>旅行先の近場でお土産を買いたい！<br><br>
        お土産買うために長い移動をしたくない！<br><br>
        自分が住んでいる地域のお土産を知りたい！<br><br>
        という際におすすめです</p>
      </blockquote>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <br><br>
      <blockquote class="blockquote text-center">
      <h1>早速サイト利用しよう！</h1>
      <br><br>
      <p>みんなの投稿をみてみよう！<br><%= link_to '投稿一覧', posts_path %><br><br>
      自分のおススメを共有してみよう！<br>
      <% if user_signed_in? %>
        <%= link_to '新規投稿', new_post_path %><br><br>
      <% else %>
        <%= link_to '新規登録', new_user_registration_path %> | <%= link_to 'ログイン', new_user_session_path %><br><br>
      <% end %>
      </p>
      </blockquote>
    </div>
    <div class="col">
      <%= image_tag 'computer_man4_laugh.png',:size =>'350x350' %>
    </div>
  </div>
</div>