<div class="container">
  <div class="row">
    <div class="col-7">
      <h1>登録情報の編集</h1>
      <% if @user.errors.any? %>
        <ul class="alert alert-danger" role="alert">
          <h6 class="alert-heading">
            <%= @user.errors.count %>件のエラーが起きました
          </h6>
          <%= @user.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
        <div class="form-group">
          <%= f.label :"氏名" %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"ニックネーム" %>
          <%= f.text_field :nick_name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :"email" %>
          <%= f.text_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.submit '更新', class: "btn btn-success" %><br><br>
          <%= link_to '退会', user_path(current_user), method: :delete, "data-confirm" => "退会すると投稿も消えます。本当に退会しますか？", class: 'btn btn-danger' %>
        </div>
      <% end %>
      <br>
      <%= link_to "Mypageへ", mypage_path,class: 'btn btn-secondary' %>
    </div>
  </div>
</div>