
<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2 class="mb-5"><%= @user == current_user ? "#{@user.nick_name} さんのマイページ" : "#{@user.nick_name}　さんの投稿一覧" %></h2>
      <% if @user == current_user %>
      <p class="mt-5">
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample" role="button" aria-expanded="false" aria-controls="multiCollapseExample"><%= current_user.nick_name %> さんの登録情報</a>
        <small> ※クリックすると表示されます</small>
      </p>
      <div class="row">
        <div class="col">
          <div class="collapse multi-collapse" id="multiCollapseExample">
            <div class="card card-body mb-3">
              <div class="col">
                <table class="table table-bordered mb-3">
                  <thead>
                    <tr class="table-active">
                      <th scope="col" style="width: 30%">氏名</th>
                      <th scope="col" style="width: 30%">ニックネーム</th>
                      <th scope="col" style="width: 40%">e-mail</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><%= @user.name %></td>
                      <td><%= @user.nick_name %></td>
                      <td><%= @user.email %></td>
                    </tr>
                  </tbody>
                </table>
                <p><%= link_to '編集', edit_user_path(@user), class: 'btn btn-success' %></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <div class="row">
        <% @posts.order(created_at: :desc).each do |post| %>
          <div class="col-md-12 mb-4">
            <div class="card">
              <div class="card-body">
                <div class="row">
                  <div class="col-md-3">
                    <% if post.images.attached? %>
                      <%= image_tag post.images[0], size: '200x200' %>
                    <% else %>
                      <%= image_tag 'no_image.jpg', size: '200x200' %>
                    <% end %>
                  </div>
                  <div class="col-md-9">
                    <table class="table table-bordered mb-3">
                      <thead>
                        <tr class="table-active">
                          <th scope="col" style="width: 30%">商品名</th>
                          <th scope="col" style="width: 70%">商品説明</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><%= post.name %></td>
                          <td><%= link_to post.introduction.truncate(15, omission: "　続きを読む"), post_path(post.id) %></td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="table table-bordered">
                      <thead>
                        <tr class="table-active">
                          <th scope="col" style="width: 15%" class="text-center">都道府県</th>
                          <th scope="col" style="width: 25%" class="text-center">市町村</th>
                          <th scope="col" style="width: 30%" class="text-center">レビュー</th>
                          <% if post.user == current_user %>
                            <th scope="col" style="width: 30%" class="text-center">編集</th>
                          <% else %>
                            <th scope="col" style="width: 30%" class="text-center">ユーザー</th>
                          <% end %>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td class="text-center"><%= link_to genre_path(post.genre.id) do %><%= post.genre.name %><% end %></td>
                          <td class="text-center"><%= link_to post.category, tagsearches_search_path(content: post.category) %></td>
                          <td class="text-center"><%= render 'public/posts/star', post: post %></td>
                          <% if post.user == current_user %>
                            <td scope="col" style="width: 15%" class="text-center"><%= link_to "編集", edit_post_path(post), class: "btn btn-success mr-2" %><%= link_to "削除", post_path(post), class: "btn btn-danger ml-2", method: :delete, "data-confirm" => "本当に消しますか？"  %></a></th>
                          <% else %>
                            <td class="text-center"><%= link_to user_path(post.user_id) do %><%= post.user.nick_name %><% end %></td>
                          <% end %>
                        </tr>
                      </tbody>
                    </table>
                    <div class=" row col">
                      <div class="col"><%= link_to "詳細を見る", post_path(post.id) %></div>
                      <div class="offset-5">コメント件数： <%= post.post_comments.count %></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <%= paginate @posts, class: "pagination justify-content-center" %>
      </div>
    </div>
     <%= render 'public/genres/genre_lists' %>
  </div>
</div>